.confirmations {
  width: fit-content;
  height: 60%;
  padding: calc((1vw + 1vh)/0.5);
  border-radius: calc((1vw + 1vh)/3);
  position: inherit;
  margin: auto;
  position: relative;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.confirmations .btn.create,
.confirmations .btn.delete,
.confirmations .btn.cancel {
  width: fit-content;
}

.confirmations .delete-cancel-btns {
  display: flex;
  gap: 1vw;
}

.confirmations .close-btn {
  width: 2vw;
  aspect-ratio: 1/1;
  position: absolute;
  top: calc((1vw + 1vh)/3);
  right: calc((1vw + 1vh)/3);
  font-size: calc((1vw + 1vh)/1);
  display: flex;
  justify-content: center;
  align-items: center;
}