.streaks {
  width: 100%;
  aspect-ratio: 10 / 1;
  border: calc((1vw + 1vh)/10) solid rgba(0, 255, 255, 0.5);
  border-radius: calc((1vw + 1vh)/1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.streaks .streaks-list {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.streaks .streaks-list .add-streak-btn {
  width: 4vw;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: -7vw;
  border: none;
  border-radius: calc((1vw + 1vh)/3);
  font-size: calc((1vw + 1vh)/0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}