.streaks,
.shortcuts {
  aspect-ratio: 10 / 1;
  border: calc((1vw + 1vh)/10) solid #8fc9b9;
  border-radius: calc((1vw + 1vh)/1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
}

.btn.add-streak-btn {
  width: 6vw;
  aspect-ratio: 1/1;
  border: none;
  border-radius: calc((1vw + 1vh)/3);
  margin-top: -20px;
  font-size: calc((1vw + 1vh)/0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcuts {
  height: 100%;
  flex-wrap: wrap;
}