.streaks {
  border: calc((1vw + 1vh)/10) solid #8fc9b9;
  border-radius: calc((1vw + 1vh)/1.5);
  aspect-ratio: 10 / 1;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
}

.streaks .btn.add-streak-btn {
  width: 6vw;
  aspect-ratio: 1/1;
  border: none;
  border-radius: calc((1vw + 1vh)/3);
  font-size: calc((1vw + 1vh)/0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.streaks.shortcuts {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, auto);
}