.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
}

.config-btn {
  width: 2vw;
  aspect-ratio: 1/1;
  position: fixed;
  right: calc((1vw + 1vh)/2);
  bottom: calc((1vw + 1vh)/2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-btn.hidden {
  display: none;
}