* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: calc((1vw + 1vh)/1.5);
}

html,
body,
#root {
  background-color: black;
  color: white;
}

/* general styles */
.hide {
  display: none !important;
}

.btn,
a {
  cursor: pointer;
}

button, input, input:active, input:focus {
  border: calc((1vw + 1vh)/10) solid rgba(119, 119, 119, 0.5);
  border-radius: calc((1vw + 1vh)/5);
  outline: none;
}
